.drawer-job-content-select div {
  width: 100%;
}

.drawer-job-content-select button[aria-selected="true"] span {
  background-color: var(--primary);
}

.drawer-job-content-select button[aria-selected="true"] div {
  color: white !important;
}
