@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "dana";
  src: url("../../public/font/dana/regular.ttf") format("truetype");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "dana";
  src: url("../../public/font/dana/bold.ttf") format("truetype");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "dana";
  src: url("../../public/font/dana/extrabold.ttf") format("truetype");
  font-weight: 800;
  font-display: swap;
}

@media (prefers-color-scheme: light) {
  :root {
    --primary: #171717;
    --primary-light: #ffffff;
    --primary-dark: #0f0f0f;
    --primary-gray: #27272a;

    --darkPrimary: #1e1e1e;
    --darkPrimary-light: #f8f9fa;
    --darkPrimary-dark: #131313;

    --light: #f1f1f1;
    --light-light: #ffffff;
    --light-dark: #1c1c1c;

    --greylight: #121212;
    --background: var(--light);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #f1f1f1;
    --primary-light: #1e1e1e;
    --primary-dark: #0f0f0f;
    --primary-gray: #3a3a3a;

    --darkPrimary: #131313;
    --darkPrimary-light: #dcdcdc;
    --darkPrimary-dark: #0a0a0a;

    --light: #1a1a1a;
    --light-light: #2c2c2c;
    --light-dark: #101010;

    --greylight: #090909;
    --background: var(--darkPrimary);
  }
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
  direction: rtl;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  outline: none;
}

body {
  min-height: 100vh;
  font-family: "Dana", sans-serif;
  background-color: var(--background);
  color: var(--primary);
  line-height: 1.75;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-gray);
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #999;
}
