@import "tailwindcss";
@config "../../tailwind.config.ts";

@font-face {
  font-family: "dana";
  src: url("../../public/font/dana/regular.ttf") format("truetype");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "dana";
  src: url("../../public/font/dana/bold.ttf") format("truetype");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "dana";
  src: url("../../public/font/dana/extrabold.ttf") format("truetype");
  font-weight: 800;
  font-display: swap;
}

@media (prefers-color-scheme: light) {
  :root {
    --primary: #201d47;
    --primary-light: #37346f;
    --primary-dark: #0f0f0f;
    --primary-gray: #27272a;
    --green: #37346f;
    --green-light: #d5f7e8;
    --green-dark: #201d47;
    --accent: #e3507a;
    --accent-light: #f28a9d;
    --accent-dark: #b12a55;
    --success: #d5f7e8;
    --success-light: #86efac;
    --success-dark: #22c55e;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #d5f7e8;
    --primary-light: #201d47;
    --primary-dark: #0f0f0f;
    --primary-gray: #3a3a3a;
    --green: #37346f;
    --green-light: #f1f1f1;
    --green-dark: #131313;
    --accent: #e3507a;
    --accent-light: #f28a9d;
    --accent-dark: #b12a55;
    --success: #d5f7e8;
    --success-light: #86efac;
    --success-dark: #22c55e;
  }
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
  direction: rtl;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  outline: none;
}

body {
  min-height: 100vh;
  font-family: "Dana", sans-serif;
  line-height: 1.75;
  overflow-x: hidden;
}

html.light body {
  background: linear-gradient(
    to bottom,
    rgb(226, 255, 243) 20%,
    rgb(255, 255, 255) 70%,
    rgb(255, 255, 255) 100%
  );
  color: var(--primary);
}

html.dark body {
  background: linear-gradient(
    180deg,
    oklab(16.8% -0.024 -0.017),
    oklab(22.4% -0.032 -0.023),
    oklab(27.7% -0.041 -0.026),
    oklab(32.7% -0.049 -0.029),
    oklab(37.2% -0.055 -0.034)
  );
  color: var(--primary);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-gray);
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #999;
}

.ql-editor {
  direction: rtl;
  text-align: right;
}
